* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #afbaf6;
}

header {
    height: 100px;
    background-color: white;
    margin-bottom: 50px;
}

#logo {
    height: 90px;
    vertical-align: middle;
    padding-top: 10px;
    padding-left: 20px;
}

#logo-text {
    vertical-align: middle;
    font-size: 40px;
    font-weight: bold;
}

main {
    width: 70%;
    margin: 0 auto;
}

.up { 
    background-color: white;
    height: 60px;
    margin-bottom: 3px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;  
}

.blu {
    margin-left: 70px;
    background-color: #47adf1;
    color: white;
    border: 2px solid #47adf1;
}

.bianco {
    background-color: white;
    color: lightgrey;
    border: 2px solid lightgrey;
}

.blu, .bianco {
    padding: 10px;
    margin-top: 10px;
    border-radius: 7px;
    font-size: 16px;
}

.down {
    background-color: white;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.container {
    padding-top: 30px;
    margin-left: 70px;
}

.riga::before {
    content: "\21A7";
}

.riga {
    margin-bottom: 20px;
}

.element {
    margin: 10px;
    margin-left: 0;
}

.v, .x { 
    display: inline-block;
    background-color: white;
    width: 20px;
    border-radius: 50%;
    text-align: center;
}

.v{
    border: 1px solid lightgreen;
    color: lightgreen;
}

.x {
    border: 1px solid red;
    color: red;
}